---

name: Go

"on":
  pull_request:
    branches:
      - develop
      - main

jobs:

  build:
    name: Build on ${{ matrix.os }} with Go ${{ matrix.go }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        go: ['1.16', '1.15']
        os: [macos-latest, windows-latest, ubuntu-latest]
    env:
      GO111MODULE: "on"
      GO_VER: ${{ matrix.go }}
    steps:

      - name: Set up Go ${{ matrix.go }}
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go }}
        id: go

      - name: Check out code
        uses: actions/checkout@v3

      - name: Test
        run: |
          make test

      - name: Lint
        run: |
          go get golang.org/x/lint/golint@latest || exit 1
          make lint

      - name: Vet
        run: |
          make vet

      - name: Run Gosec Security Scanner
        uses: securego/gosec@v2.8.1
        env:
          GOROOT: /usr/local/go
          GOTOOLDIR: /usr/local/go/pkg/tool/linux_amd64
        with:
          args: ./...
        if: ${{ matrix.go == '1.16' && matrix.os == 'ubuntu-latest' }}
